# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# dependencies
kompanion-front/node_modules
kompanion-front/.pnp
kompanion-front/.pnp.js

# testing
kompanion-front/coverage

# production
kompanion-front/build

# misc
kompanion-front/.DS_Store
kompanion-front/.env.local
kompanion-front/.env.development.local
kompanion-front/.env.test.local
kompanion-front/.env.production.local

kompanion-front/npm-debug.log*
kompanion-front/yarn-debug.log*
kompanion-front/yarn-error.log*
